body{
    background: whitesmoke;
    color: #222;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    font-size: 48px;
}

p{
    font-size: 24px;
    line-height: 1.8;
}
